/* 
    COLOUR PALLETTE
Dark brown - #F3C892
Lighter brown - #FFF1BD
Light Green - #A3DA8D
Darker Green - #146356

    FONTS
font-family: 'Palanquin Dark', sans-serif;
font-family: 'Roboto', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark&family=Roboto&display=swap');


* {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    box-sizing: border-box; 
   }

body {
     margin: 0;
     padding: 0;
   }

#main {
     display: flex;
     background-color: #FFF1BD;
     min-height: calc(100vh - 20vh);
   }

.side-filter {
    width: 31vw;
     background: #A3DA8D;
     order: -1;
     border-right: solid black 2px;
     margin-right: 2%;
    padding: 2% 2% 2% 2%;
   }

header, footer, article, nav, aside {
     padding: 1em;
   }

header, footer {
    height: 10vh;
    background: #146356;
    padding: 3%;
    color: white;
    text-align: center;
    font-family: 'Palanquin Dark', sans-serif;
   }

header{
    font-size: 25px;
   }

a{
    color: #A3DA8D;
}

/* SIDEBAR STYLING */

.side-filter a{
    color: #146356;
}

label{
    font-size: 12.5px;
}

input, select, button{
    width: 100%;
    border-radius: 10px;
    height: 30px;
}

button{
    background-color: #146356;
    color: white;
}

.conservation-status-list li {
    display: flex;
    align-items: center;
    padding: 2%;
}

.badge {
    border-radius: 50%;
    padding: 4%;
}
span {
    margin-right: 2%;
}

   /* CONSERVATION LABEL COLOURS */

#nt {
    background-color: #02a028;
}

#nu {
    background-color: #649a31;
}

#r {
    background-color: #99cb68;
}

#rec {
    background-color: #fecc33;
}

#d {
    background-color: #fe9a01;
}

#ni {
    background-color: #c26967;
}

#nv {
    background-color: #9b0000;
}

#ne {
    background-color: #660032;
}

#nc {
    background-color: #320033;
}

#ex {
    background-color: black;
}